.site-footer {
    background-color: #134b90;
    height: 80px;
    color: #fff;
    text-align: center;
}

.site-footer span {
    line-height: 80px;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .site-footer span {
        line-height: 80px;
        font-size: 12px;
    }
}