li.chat-listing-single {
    background-color: white;
    display: flex;
    cursor: pointer;
    padding: 16px 10px;
    border-bottom: 1px solid #dadada;
    transition: all 1s;
}

.secondary-content.message-time {
    color: #b7b7b7;
    font-size: 13px;
}

li.chat-listing-single:hover {
    background-color: #e2e2e2;
}

.user-avater {
    position: relative;
}

span.online-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #009906;
    border-radius: 50%;
    display: inline-block;
    right: 2px;
    top: 1px;
}

span.offline-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #b8b8b8;
    border-radius: 50%;
    display: inline-block;
    right: 2px;
    top: 1px;
}

.chat-info__single-item {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.chat-info {
    width: 100%;
    margin-left: 25px;
}

.username {
    font-size: 16px;
    font-weight: 600;
}

p.last-message {
    font-weight: 400;
    margin: -1px 0px;
    display: flex;
    align-items: center;
}

p.last-message span.message {
    margin-left: 2px;
    font-size: 15px;
    color: #7d7d7d;
}